
input{
    width: 100%;
}

input, textarea, select{
    all: unset;
    text-align: left;
    width: 100%;
}


input[type="date"]::-webkit-calendar-picker-indicator{
    opacity: 0;
}

input[type="date"], select{
    background: url("../assets/svg/arrowDown.svg") no-repeat right 0.3125rem center; /* 5px */
}

select{
    align-items: center;
}

.customInput {
    border: 0.0625rem solid var(--border-primary); /* 1px */
    border-radius: 0.5rem;      /* 8px */
    color: var(--content-secondary);
    display: flex;
    text-align: center;
    align-items: center;
    padding-left: 0.625rem;     /* 10px */
    padding-right: 0.4rem;
}

.customInput:hover{
    border-color: var(--border-secondary);
}

.customInput:focus-within{
    border-color: var(--border-brand);
    color: var(--content-primary);
}


button{
    border-radius: 0.5rem;      /* 8px */
    background-color: var(--background-brand);
    border: none;
    outline: none;
}

button:hover{
    background-color: var(--background-highlights);
    box-shadow: 0 0 0.5rem var(--background-highlights);
}

button h2{
    color: var(--background-primary);
    font-size: 1rem;            /* 16px */
    font-weight: bold;
}


