@import './color.css';
@import "text.css";
@import "inputs.css";
@import "global.css";

#schedule-modal{
    position: fixed;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scheduleModal-container {

    min-width: 45%; 
    min-height: 90%;
    width: 29.813rem;
    height: 40rem;

    border-radius: 0.625rem;

    display: flex;
    flex-direction: column;
    position: fixed;
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: var(--background-tertiary);
    
    align-items: center;

    padding: 0;
    margin: 0;

    overflow-y: auto;

    text-align: center;
}

.fieldArea{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.fieldArea .fieldArea-item {
    margin-bottom: 1rem ;
}

.fieldRow{
    display: flex;
    gap: 1rem;
}

.fieldRow > *{
    flex: 1 1 10rem;
    min-width: 0;
}
