@import 'color.css';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{


    font-family: "Inter", sans-serif;
    color: var(--content-primary);

}

h1{
    font-family: "Inter Tight", sans-serif;
    font-size: 1.5rem;          /* 24px */
    line-height: 2rem;          /* 32px */
    font-weight: bold;

}

header{
    background-color: var(--header-background);
    min-width: 8rem;
    max-width: 9.5625rem;       /* 153px */
    height: 3rem;               /* 48px */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 0.9375rem; /* 15px */
    overflow: auto;
    top: 0;
    left: 0;
    color: var(--content-brand);
    font-size: 1rem;            /* 16px */
}

h3, td:first-child {
    font-size: 1rem;            /* 16px */
    font-weight: bold;
    line-height: 1.5rem;        /* 24px */
    color: var(--content-primary);
}

p, td{
    color: var(--content-secondary);
    line-height: 1.8rem;
}

.icon{
    max-width: 1.25rem;         /* 20px */
    height: 1.25rem;            /* 20px */
    margin-right: 0.5rem;       /* 8px */
}

body{
    background-color: var(--body-background);
    color: var(--content-primary);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;           /* 80px */
}

#scheduleContainer{
    max-width: 50rem;           /* 800px */
    min-height: 100%;
    padding-bottom: 5rem;       /* 80px */
}

#scheduleHeader{
    margin: 0 auto;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#scheduleHeader p{
    margin-top: 0.5rem;         /* 8px */
}

#scheduleTitle{
    display: flex;
    flex-direction: column;
}

#scheduleDate{
    max-width: 12.5rem;         /* 200px */
    min-height: 3.5rem;
    max-height: 4rem;               /* 48px */
}


#scheduleDateInput{
    margin-left: 0.125rem;      /* 2px */
    padding: 0;
    font-size: 1rem;            /* 16px */
}

#scheduleMaster{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;           /* 32px */
}

.scheduleCard{
    background-color: var(--background-tertiary);
    margin-bottom: 0.75rem;     /* 12px */
    height: auto;
    border-radius: 0.5rem;      /* 8px */
    max-width: 100%;
}

.scheduleCard-header{
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.0625rem solid var(--border-divisor); /* 1px */
}

.scheduleCard-header div{
    padding-top: 0.75rem;       /* 12px */
    padding-bottom: 0.75rem;    /* 12px */
}

.scheduleCard-header-title{
    padding-left: 1.25rem;      /* 20px */
    display: flex;
}

.scheduleCard-header-period{
    padding-right: 1.25rem;     /* 20px */
    color: var(--content-secondary);
    font-size: 1rem;            /* 16px */
    font-weight: bold;
    line-height: 1.5rem;        /* 24px */
}

.scheduleCard table{
    width: 100%;
    border-collapse: collapse;
    margin: 0.75rem 0;
    table-layout: fixed;
}

colgroup col:first-child{
    width: 6.25rem; /* 100px */
}

.scheduleCard th,
.scheduleCard td {
    padding: 1.875rem 1.25rem; /* 30px 20px */
    text-align: left;
    vertical-align: middle;
}

.scheduleCard td {
    overflow: hidden;
    text-overflow: ellipsis;
}

.scheduleCard td:first-child {
    padding-right: 0;
    white-space: nowrap;
}

.scheduleCard td:nth-child(2) {
    padding-left: 0;
}

.scheduleCard td:last-child {
    text-align: right;
    color: var(--content-tertiary);
}

.scheduleCard tbody tr:not(:last-child) td{
    border-bottom: 0.0625rem solid var(--border-divisor); 
}

.pet{
    font-weight: bold;
    font-size: 1rem;         /* 12px */
    line-height: 1rem;          /* 16px */
    color: var(--content-primary);
}

#newScheduleButton{
    position: fixed;
    bottom: 1.25rem;            /* 20px */
    right: 1.25rem;             /* 20px */
    z-index: 1000;

}

#newScheduleButton button{
    min-width:  13.625rem;
    max-width: 13.625rem;       /* 218px */
    height: 3rem;               /* 48px */
    border-radius: 0.5rem;      /* 8px */
    background-color: var(--background-brand);
    box-shadow: 0 0 0.5rem var(--background-brand); /* 5px */
    border: none;
    outline: none;
}

#newScheduleButton button:hover{
    background-color: var(--background-highlights);
    box-shadow: 0 0 0.5rem var(--background-highlights);
}

button h2{
    color: var(--background-primary);
    font-size: 1rem;            /* 16px */
    font-weight: bold;
}

@media(max-width: 37.5rem){

    main{
        margin-top: 0.5rem;
        padding-bottom: 0;
        height: 5%;

    }

    #scheduleHeader{
        flex-direction: column;
        align-items: flex-start;
        max-width: 100%;
        justify-content: center;
    }

    #scheduleContainer{
        margin-top: 1rem;   
        max-width: 80%;
        padding-bottom: 3rem;
    }

    
    #scheduleDate{
        margin-top: 1rem;
    }


    #newScheduleButton{
        width: 100%;
        position: static;
        display: flex;
        justify-content: center;
        background-color: var(--background-tertiary);
        padding: 2rem 0 2rem;
    }

    #newScheduleButton button{
        min-width: 60%;
        max-width: 80%;
        max-width: 20rem;
        padding: 1rem 1.5rem;
        border-radius: 0.75rem;
    }

    .scheduleCard table {
        display: block;
        width: 100%;
    }

    .scheduleCard tbody {
        display: block;
    }

    .scheduleCard tr {
        display: flex;
        flex-wrap: wrap;
        padding: 1.25rem;
    }

    .scheduleCard td {
        padding: 0;
    }

    .scheduleCard td:first-child {
        margin-right: 0.75rem;
        margin-left: 1,25rem 0;

        
    }

    .scheduleCard td:nth-child(2) {
        min-width: 0;
        margin-left: 1,25rem 0;

    }

    .scheduleCard td:nth-child(3) {
        margin-left: 0.75rem;
        flex-basis: 100%;
        margin: 0 0;
    }

    .scheduleCard td:last-child {
        flex-basis: 100%;
        margin-top: 0.5rem;
        font-size: 0.875rem;
    }

    .scheduleCard tbody tr:not(:last-child) td{
        border-bottom: none
    }
    .scheduleCard tbody tr{
        border-bottom: 0.0625rem solid var(--border-divisor); /* 1px */
    }

    .scheduleCard tr:last-child {
        border-bottom: none;
    }




}