*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --body-background: #14151D;
    --header-background: #2E2C30;

    --background-primary: #151515;
    --background-secondary: #1E1E1E;
    --background-tertiary: #23242C;
    --background-brand: #9282FA;
    --background-highlights: #BDB4FA;
    
    --content-primary: #FFFFFF;
    --content-secondary: #98959D;
    --content-tertiary: #666666;
    --content-brand: #9282FA;

    --border-primary: #3E3C41;
    --border-secondary: #86819C;
    --border-brand: #9282FA;
    --border-divisor: #353339;

    font-family: "Inter", sans-serif;

}

h1{
    font-family: "Inter Tight", sans-serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
}

header{
    background-color: var(--header-background);
    width: 153px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 15px;
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--content-brand);

    font-size: 16px;
}

h1{
    color: var(--content-primary);
}

body{
    background-color: var(--body-background);
    color: var(--content-primary);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px; 
}

#scheduleHeader{
    width: 711px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#scheduleTitle{
    display: flex;
    flex-direction: column;

}

#scheduleDate{
    color: var(--content-secondary);
    display: flex;
}

#scheduleMaster{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}

.scheduleCard{
    background-color: var(--background-tertiary);
    margin-bottom: 12px;
    width: 711px;
    height: auto;
    border-radius: 8px;
}

.scheduleCard-header{

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-divisor) ;

    
}

.scheduleCard-header div{
    padding-top: 12px;
    padding-bottom: 12px;
}


.scheduleCard-header-title{
    padding-left: 20px;
}

.scheduleCard-header-period{
    padding-right: 20px;
}

.scheduleCard table{
    width: 100%;
    border-collapse: collapse;
    margin: 12px 0;

}

.scheduleCard th, .scheduleCard td{
    padding: 20px 20px;
    text-align: center;
    vertical-align: middle;
}

.scheduleCard tbody tr:not(:last-child) td{
    border-bottom: 1px solid var(--border-divisor) ;

}

#newScheduleButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}

#newScheduleButton button{
    width: 218px;
    height: 48px;
    border-radius: 8px;
    background-color: var(--background-brand);
    box-shadow: 0px 0px 5px var(--background-brand);
    border: none;
    outline: none;
}

#newScheduleButton button:hover{
    background-color: var(--background-highlights);
    box-shadow: 0px 0px 5px var(--background-highlights);

}


